.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  text-transform: uppercase;
  padding: 1.25rem 2.25rem;
  transition: 0.3s all;
}
