{%- comment -%}
  You should include a H1 somewhere on your home page
{%- endcomment -%}

{% include 'hero-slider' %}

<section class="grid-container">
  <h1>Ethical mens clothing, <span>selected with style</span></h1>
</section>

{{ content_for_index }}
