{%- comment -%}
  You should include a H1 somewhere on your home page
{%- endcomment -%}

{% include 'hero-slider' %}

<section class="grid-container">
  <h1 class="hero-text">Ethical mens clothing, <span class="hero-text__boarder-b">selected with style</span></h1>
</section>

{{ content_for_index }}
