<section class="hero-slider  grid-container">
    <article class="hero-slider__slide">
        <div class="hero-slider__info">
            <h1 class="hero-slider__title  nimbus">
                Our Favourite Sustainable Garms’ For A Slow Summer
            </h1>
            <a href="#">
                <button class="button  hero-slider__button">
                    shop summer's picks
                </button>
            </a>
        </div>
        <div class="hero-slider__img">

        </div>
    </article>
</section>