<section class="slider">
    <div class="grid-container">

        <div class="glide  glidejs-sl-1">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <a href="#">
                            <article class="slider__slide">
                                <div class="slider__img">
                                
                                </div>
                                <div class="slider__info">
                                    <h1 class="slider__title  nimbus">
                                        Our Favourite Sustainable Garms’ For A Slow Summer
                                    </h1>
                                    
                                </div>
                                
                            </article>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>

            <div data-glide-el="controls">
                <button data-glide-dir=">" class="button  hero-slider__next">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Next</title>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Arrow" fill="#FFFFFF">
                                <polygon id="Fill-3" transform="translate(8.500000, 9.000000) rotate(-270.000000) translate(-8.500000, -9.000000) " points="7.58805575 1 0 17 2.34598347 17 8.54454108 3.44934827 14.6540165 17 17 17 9.44133218 1"></polygon>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
            
        </div>
    
    </div>
</section>